{% if section.settings.show == true %}
  <div class="home_banner">
    {% for block in section.blocks %}
    <a href="{{block.settings.btn_link}}">
      <div class="" style="background: url({{ block.settings.banner | img_url: '2800x2800' }}) no-repeat">
        <h1>{{block.settings.title}}</h1>
        <h2>{{block.settings.subtitle}}</h2>
        <button class="banner_btn">{{block.settings.btn_text}}</button>
      </div>
    </a>
    {% endfor %}
  </div>
{% endif %}
{% schema %}
  {
    "name": "Home Banner Wholesale",
    "settings": [
      {
        "type": "checkbox",
        "id": "show",
        "label": "Show Section",
        "default": true  
      }
	],
    "blocks": [
      {
        "type": "banner",
        "name": "Banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "banner",
            "label": "Banner Image"
          },
		  {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "Bold, Confident, Genuine, Extraordinary"
          },
		  {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title",
            "default": "On-the-go glow in 30 seconds like."
          },
		  {	
            "type": "text",
            "id": "btn_text",
            "label": "Button Text",
            "default": "Show Me More"
          },
		  {
            "type": "url",
            "id": "btn_link",
            "label": "Button Link"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
